*{
    padding: 0;
    margin: 0;
    font-family: 'quicksand',sans-serif;
}
body{
    width: 100vw;
    height: 100%;
    margin: 0;
    background-image: url(../Tugas_Website/img/images.jpg);
}
a {
    color: #0057f9;
    text-decoration: none;
}
#bg-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: cyan;
}
.box-login {
    width: 450px;
    min-height: 350px;
    border: 1px solid grey;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Agar elemen tersusun vertikal */
    justify-content: center; /* Pusatkan secara vertikal */
    align-items: center; /* Pusatkan secara horizontal */
}
.box-login h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: medium;
}
.input-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
}
.lupa-password{
    color: black;
    text-decoration: underline;
    font-size: 12px;
    display: block;
    text-align: right;
    margin-bottom: 10px;
}
.lupa-password:hover{
    color: blue;
    text-decoration: underline;
    font-size: 12px;
}
.btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.btn {
    padding: 8px 15px;
    background-color: white;
    color: black;
    border: 1.5px solid black;
    cursor: pointer;
    border-radius: 5px;
    font-weight: medium;
    margin-top: 10px;
}
.btn:hover{
    background-color: black;
    color: white;
    font-weight: bold;
}


header {
    background-color: #34E3FF ;
    color: #fff;
}
header h1 {
    float: left;
    padding: 10px 0px;
}
header ul {
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding: 20px 0px 20px 10px;
    display: inline-block;
}
.container {
    width: 80%;
    margin: 0% auto;
}
.container:after {
    content: '';
    display: block;
    clear: both;
}
.section {
    padding: 25px 0px;
}
.box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px ;
    box-sizing: border-box;
    margin: 10px 0px 25px 0px;
}
.box:after {
    content: '';
    display: block;
    clear: both;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
table tr {
    height: 30px;
}
table tr td {
    padding: 5px 10px;
}
.search {
    padding: 15px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
}
.search input[type=text] {
    width: 60%;
    padding: 10px;
}
.search input[type=submit] {
    padding: 12px 15px;
    background-color: #34E3FF;
    color: #fff;
    border: none;
    cursor: pointer;
}
.col-5 {
    width: 20%;
    height: 100px;
    text-align: center;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.col-4 {
    width: 25%;
    height: 250px;
    border: 1px solid #ccc;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    align-items: center;
}
.col-4:hover{
    box-shadow: 0 0 3px #999;
}
.col-4 img {
    width: 80%;
}
.col-4 .nama {
    color: #666;
    margin-bottom: 5px
}
.col-4 .harga {
    font-weight: bold;
    color: black;
    float: right;
}
.footer {
    background: #2f2f2f;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.footer p {
    margin-bottom: 10px;
}
.footer small {
    margin-top: 25px;
    display: inline-block;
}
.col-2 {
    width: 50%;
    min-height: 200px;
    padding: 10px;
    box-sizing: border-box ;
    float: left;
}
.col-2 img{
    border: 1px solid #f9f9f9;
    padding: 5px;
    box-sizing: border-box;
}
.col-2 h3 {
    margin-bottom: 10px;
}
.col-2 h4 {
    color: black;
}
.col-2 p {
    margin: 15px 0;
    text-align: justify;
    line-height: 25px;
    font-size: 15px;
}

@media screen and (max-width: 768px){
    .container {
        width: 90%;
    }
    .col-5 {
        width: 50%;
        margin-bottom: 10px;
    }
    .col-4 {
        width: 50%;
        height: 200px;
    }
    .col-2{
        width: 100%;
    }
}